<div id="<%=id%>" style="display:block;">

<div id="<%=id%>_edit" class="record edit" style="display:block;">
<%= form_for record, :action=>save_action do %>
<table>
  <tbody>
<%- inspector.columns.each do |p| -%>
    <tr>
      <th><%= column_header(p) %></th>
      <td><%= column_form(record, p) %></td>
    </tr>
<%- end -%>
    <tr>
      <td colspan=2 align=center>
        <%= submit "create".t %>
        <%= link_to "cancel".t, "#", :onclick=>"$('##{id}').hide();return false;" %>
      </td>
    </tr>
  </tbody>
</table>
<% end =%>
</div>
</div>

